<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% unless @request.persisted? %>
    <%= f.hidden_field :user_id, :value=>current_user.id%>
    <%= f.hidden_field :status_id, :value=>get_unprocessed_status_code%>
    <%= f.hidden_field :read, :value=>false%>
  <%end%>
  <div class="field">
    <%= t(:subject) %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= t :description %><br>
    <%= f.text_area :description, :size=>"80x10"%>
  </div>
  <div class="actions">
    <%= f.submit t(:submit)%>
  </div>
<% end %>
