<h2><%= t(:create_request) %></h2>
<p>
  <strong><%= t(:subject) %>:</strong>
  <%= @request.subject %>
</p>

<p>
  <strong><%= t(:description) %>:</strong>
  <%= @request.description %>
</p>

<p>
  <strong><%= t(:user) %>:</strong>
  <%= @request.user.nickname %>
</p>

<% if is_dealer?%>
	<%=link_to t(:provide_offer), new_request_offer_path(@request), :class=>"btn btn-default" %>
<%end%>
<br/>
<h2><%= t(:current_offers) %></h2>
	<table class='table table-bordered table-hover'>
  <thead>
    <tr>
      <th><%= t(:subject) %></th>
      <th><%= t(:offer_description) %></th>
      <th><%= t(:price) %></th>
      <th><%= t(:offer_by) %></th>
      <th><%= t(:status) %></th>
      <th><%= t(:time) %></th>
    </tr>
  </thead>

  <tbody>
    <% @request.offers.each do |offer| %>
      <tr>
      	<td><%= offer.subject %></td>
        <td><%= offer.description %></td>
        <td><%= offer.price %></td>
        <td><%= offer.user.nickname %></td>
        <td>
          <%if offer.status_id.blank?%>
            <%if offer.request.user_id.eql? current_user.id%>
              <%=link_to accept_offer_path(:offer_id=>offer.id),:class=>"btn btn-default"  do %> 
                <%= t(:accept) %> <i class="fa fa-fw fa-check"></i>
              <%end%>
              <%=link_to decline_offer_path(:offer_id=>offer.id),:class=>"btn btn-default"  do %> 
                <%= t(:decline) %> <i class="fa fa-fw fa-times"></i>
              <%end%>
            <%else%>
              <%=t(:not_processed)%>
            <%end%>
          <%else%>
            <%= t(offer.status.name.to_sym) %>
          <%end%>
        </td>
        <td><%= offer.created_at%></td>
      </tr>
    <%end%>
  </tbody>
</table>
