<!--<div class="col-lg-12">-->
<h3 class="page-header">
  <%= t(:my_requests) %>
</h3>
<!--</div>-->

<% current_user.requests.each_slice(3) do |requests| %>
    <div class="row">
      <% requests.each do |request| %>
          <div class="col-sm-4 left">
            <% if request.received_offers.last.nil? || request.received_offers.last.read %>
                <div class="panel panel-default">
            <% else %>
                <div class="panel panel-info portal_new_offer">
            <% end %>
            <div class="panel-heading">
              <h4><i class="fa fa-fw fa-gift"></i> <%= request.subject %></h4>
            </div>
            <div class="panel-body">
              <p> <%= request.description %></p>
              <em>(<%= t(:total_offers) %>: <%= request.received_offers.count %>)</em>
              <%= link_to t(:view_offers), request_path(request, :read => true), :class => "btn btn-default pull-right" %>
            </div>
            </div>
            </div>
      <% end %>
      </div>
<% end %>

<%= link_to t(:create_request), new_user_request_path(current_user), :class => "btn btn-default" %>

</div>

<br/>
<br/>