<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.nickname %></h1>
    <p>
      您对<%= link_to @offer.request.subject, @offer.request %>需求提出的报价<%=link_to @offer.subject, @offer.request%>已经被<%= @accept ? '接收' : '拒绝'%> <br>
    </p>
    <p>
      <%=link_to '需求详情', request_path(@offer.request)%><br>
      更多详情请访问： http://buyby.herokuapp.com/ <br>
    </p>

    <p>BuyBy</p>
  </body>
</html>