<table class=<%=table_class%> >
  <thead>
    <tr>
      <th>邮编</th>
      <th>省份</th>
      <th>城市</th>
      <th>街道</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% addresses.each do |address| %>
      <tr>
        <td><%= address.postcode %></td>
        <td><%= address.state %></td>
        <td><%= address.city %></td>
        <td><%= address.street %></td>
        <td><%= link_to t(:edit), edit_address_path(address) %></td>
        <td><%= link_to t(:destroy), address, method: :delete, data: { confirm: t(:destroy_confirm) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>