<table class=<%=table_class%> >
  <thead>
    <tr>
      <th>Postcode</th>
      <th>State</th>
      <th>City</th>
      <th>Street</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% addresses.each do |address| %>
      <tr>
        <td><%= address.postcode %></td>
        <td><%= address.state %></td>
        <td><%= address.city %></td>
        <td><%= address.street %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: t(:destroy_confirm) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>