<%= form_for(@address) do |f| %>
    <% if @address.errors.any? %>
        <div id="error_explanation">
          <h2>亲爱的，有 <%= pluralize(@address.errors.count, "") %> 个问题。</h2>

          <ul>
            <% @address.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.text_field :postcode, :placeholder => "邮编", size: 10 %>
      <%= f.text_field :state, :placeholder => "省/直辖市", size: 10 %>
      <%= f.text_field :city, :placeholder => "市/直辖市辖区", size: 10 %>
      <%= f.text_field :street, :placeholder => "街道", size: 40 %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>
    <div class="actions">
      <%= f.submit t(:submit) %>
    </div>
<% end %>

<%= link_to '返回', my_address_path %>