<!--<p id="notice"><%= notice %></p>-->

<p>
  <strong>邮编:</strong>
  <%= @address.postcode %>
</p>

<p>
  <strong>省/直辖市:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>市/直辖市辖区:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>街道:</strong>
  <%= @address.street %>
</p>

<!--<p>-->
  <!--<strong>User:</strong>-->
  <!--<%= @address.user %>-->
<!--</p>-->

<%= link_to "再次修改", edit_address_path(@address) %> |
