<table class='display datatable'>
	<thead>
		<tr>
			<th><%=t(:subject)%></th>
			<th><%=t(:offer_description)%></th>
			<th><%=t(:price)%></th>
			<th><%=t(:requester)%></th>
			<th><%=t(:offeree)%></th>
			<th><%=t(:status)%></th>
			<%if operation%>
			<th><%=t(:operation)%></th>
			<% end %>
		</tr>
	</thead>

	<tbody>
		<% offers.each do |offer| %>
		<tr>

			<td><%= link_to offer.request do%><%= offer.subject %><%end%></td>
			<td><%= offer.description %></td>
			<td><%= offer.price %></td>
			<td><%= offer.request.try :subject %></td>
			<td><%= link_to user_management_path(:user_id=>offer.user_id) do%><%= offer.user.try :nickname %><%end%></td>
			<td>
				<%if offer.status_id.blank?%>
				<%=t(:not_processed)%>
				<%else%>
				<%= t(offer.status.name.to_sym) %>
				<%end%>
				<%= offer.status.try :name %>
			</td>
			<%if operation%>
			<td><%= link_to t(:destroy), offer, method: :delete, data: { confirm: t(:destroy_confirm) } %></td>
			<% end %>
		</tr>
		<%end%>
	</tbody>
</table>