<%= form_for(@recommend_product) do |f| %>
  <% if @recommend_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recommend_product.errors.count, "error") %> prohibited this recommend_product from being saved:</h2>

      <ul>
      <% @recommend_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.text_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_field :reason %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
