<p id="notice"><%= notice %></p>

<h1>推荐产品列表</h1>

<table class="display datatable">
  <thead>
    <tr>
      <th>Product</th>
      <th>Active</th>
      <th>Reason</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recommend_products.each do |recommend_product| %>
      <tr>
        <td><%= recommend_product.product.name %></td>
        <td><%= recommend_product.active %></td>
        <td><%= recommend_product.reason %></td>
        <td><%= link_to 'Show', recommend_product %></td>
        <td><%= link_to 'Edit', edit_recommend_product_path(recommend_product) %></td>
        <td><%= link_to 'Destroy', recommend_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--<br>-->

<%= link_to '添加推荐产品', new_recommend_product_path %>
