<!DOCTYPE html>
<html>
<head>
  <title>BuyBy</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= render 'layouts/nav' %>
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>  alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= value %>
      </div>
  <% end %>
  <%= yield %>
</div>

<% if !current_user.nil? %>
    <script type="text/javascript">
        var dispatcher = new WebSocketRails('buyby.herokuapp.com/websocket');
        var channel = dispatcher.subscribe(<%=current_user.id%>);
        channel.bind('user_notification', function (data) {
            $.notify(
                    data.message,
                    {
                        className: 'info',
                        clickToHide: true,
                        autoHide: false
                    }
            );
            $.ajax({
                url: "/refresh_notification_comment"
            })
            $.ajax({
                url: "/refresh_notification_offer"
            })
        });
    </script>
<% end %>
</body>
</html>
