<div class="col-xs-4 col-xs-offset-4">
  <h1 class="text-center">Edit <%= resource_name.to_s.humanize %></h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <form class="form col-md-12 center-block">
    <div class="form-group">
      <%= f.text_field :nickname, :class=>"form-control input-lg", :placeholder=>"nickname" %>
    </div>
    <div class="form-group">
      <%= f.email_field :email, autofocus: true, :class=>"form-control input-lg", :placeholder=>"Email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="form-group">
      <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off",:class=>"form-control input-lg", :placeholder=>"New Password" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "off",:class=>"form-control input-lg", :placeholder=>"Password-Confirm" %>
    </div>

    <div class="form-group">
      <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off",:class=>"form-control input-lg", :placeholder=>"Current Password" %>
    </div>


    <div class="form-group">
      <em>(only visible to admin and deliver)</em>
      <%= f.text_field :real_name, :class=>"form-control input-lg", :placeholder=>"real_name" %>
    </div>
    <div class="form-group">
      <%= f.text_field :phone_number, :class=>"form-control input-lg", :placeholder=>"phone_number" %>
    </div>
    <div class="form-group">
      <%= f.text_field :other_contact_method, :class=>"form-control input-lg", :placeholder=>"other_contact_method" %>
    </div>

    <div class="form-group">
      <%= f.submit "Update", :class=>"btn btn-primary btn-lg btn-block" %>
      <span class="pull-right"><%= render "users/shared/links" %></span>

    </div>

  </form>
  <% end %>

  <!--<h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->

  <%= link_to "Back", :back %>
</div>
