<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
  <h1 class="text-center"><%= t(:edit_user) %></h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
      <%= devise_error_messages! %>

      <form class="form col-md-12 center-block">
        <div class="form-group">
          <%= f.text_field :nickname, :class => "form-control input-lg", :placeholder => t(:nickname) %>
        </div>
        <div class="form-group">
          <%= f.email_field :email, :class => "form-control input-lg", :placeholder => t(:email) %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="form-group">
          <i>(<%= t(:password_change_notification) %>)</i><br/>
          <%= f.password_field :password, autocomplete: "off", :class => "form-control input-lg", :placeholder => t(:new_password) %>
        </div>
        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control input-lg", :placeholder => t(:password_confirmation) %>
        </div>

        <div class="form-group">
          <i>(<%= t(:need_password) %>)</i><br/>
          <%= f.password_field :current_password, autocomplete: "off", :class => "form-control input-lg", :placeholder => t(:current_password) %>
        </div>


        <div class="form-group">
          <em>(<%= t(:visible_to_admin) %>)</em>
          <%= f.text_field :real_name, :class => "form-control input-lg", :placeholder => t(:real_name) %>
        </div>
        <div class="form-group">
          <%= f.text_field :phone_number, :class => "form-control input-lg", :placeholder => t(:phone_number) %>
        </div>
        <div class="form-group">
          <%= f.text_field :other_contact_method, :class => "form-control input-lg", :placeholder => t(:other_contact_methods) %>
        </div>

        <div class="form-group">
          <i>(当前地址)</i><br/>
          <%= f.select :current_address_id, options_from_collection_for_select(current_user.addresses, "id", "full_address", current_user.current_address_id), :class => "form-control", :id => "address_select" %>
          <br/>
          <a class="btn btn-default show_next">添加新地址</a>

          <div class="hidden-toggle">
            <%= render :partial => '/addresses/new_address' %>
            <a class="btn btn-default commit_new_address">确定</a>
          </div>
        </div>

        <div class="form-group">
          <%= f.submit t(:update), :class => "btn btn-primary btn-lg btn-block" %>
          <!--<span class="pull-right"><%= render "users/shared/links" %></span>-->

        </div>

      </form>
  <% end %>

  <!--<h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete %></p> -->

  <%= link_to t(:back), :back %>
</div>
